.container {
    width: 100%;
    background-color: #e6e9ea;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    margin: 1rem auto;
}

.section{
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
}

