html,
body {
  padding: 0;
  background-color: #edf0f1;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

button{
  font-family: 'Poppins', sans-serif;
}

#main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#itemsContainer{
  width: 100%;
  align-items: center;
  max-height: 35rem;
  overflow: auto;
}

.itemSection{
  width: 75%;
  margin: 0 auto;
}

.titles {
  padding: 1rem 1.5rem 0.5rem;
}

.title{
  width: 25%;
  display: flex;
  justify-content: center;
  text-align: center;
}


